<div class="slide-two-photo">
    <div class="one-photo left-photo">
        <img src="{{images.[0]}}" class="one-photo" />
    </div>
    <div class="one-photo right-photo">
        <img src="{{images.[1]}}" class="one-photo" />
    </div>
</div>